.dark-mode {
    background-color: $dark-mode;
    color: $font-color-dark-mode;
}

.light-mode {
    background-color: $light-mode;
    color: $font-color-light-mode;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    border: solid #FF671E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1rem;

}

.nav-logo {
    width: 100px;
    border-radius: 50%;
    transition: 0.5s;
}

.nav-logo:hover {
    letter-spacing: 0.25em;
    box-shadow: 2.5px 5px 10px #F09440;
    color: aliceblue;

}

.toggle {
    font-size: 32px;
    transition: 0.5s;
}

.toggle:hover {
    letter-spacing: 0.25em;
    font-size: 40px;
    color: #F09440;
    cursor: pointer;
}
