.sumButton {
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: lightsalmon;
    // font-weight: bold;
    font-size: $font-size;
    text-align: center;
}
